Direccion de base de datos = /sqlite/tsp.db
Direccion de la entrada = entrada/semillas/tonio-40-semilla-0.tsp
Porcentaje de vecinos acceptados = 0.65
Tamaño del lote=50
(Phi) Factor de Enfrimiento=0.99
e=0.0001
et=0.001
ep =0.001
f  = 4
Iteraciones de busqueda de temperatura = 100
Temperatura = 8
Numero de semillas = 100000
Direccion grafica = gnuplot/tonio-40.dat
barrido = false
