Direccion de base de datos = /sqlite/tsp
Direccion de la entrada = entrada/entrada-150.txt
Porcentaje de vecinos acceptados = 0.55
Tamaño del lote=500
(Phi) Factor de Enfrimiento=0.85
e=0.001
et=0.001
ep =0.001
f  = 314.159265
Iteraciones de busqueda de temperatura = 9128 
Temperatura = 8
Salida = salidas/tonio-150v3.txt
Numero de semillas =1000
