Direccion de base de datos = /sqlite/tsp.db
Direccion de la entrada = entrada/entrada-40.txt
Porcentaje de vecinos acceptados = 0.90
Tamaño del lote=500
(Phi) Factor de Enfrimiento=0.99
e=0.001
et=0.001
ep =0.001
f  = 3
Iteraciones de busqueda de temperatura = 9128 
Temperatura = 8
Salida = salidas/tonio-40.tsp
Numero de semillas = 1000
Direccion salida = gnuplot/gnuplot.dat
